@using ICSLockers.Models

<div class="location justify-content-between location" style="cursor: pointer" onclick="location.href='@Url.Action("Division", "Admin", new { locationId = Model.LocationId })'" data-value="@Model.LocationName"> @*Should not use d-flex - it prevents search functionality*@
    <div class="location-count col-lg-9 p-0">
        <div class="w-100 d-flex mb-3 location-name">
            <h6>@Model.LocationId</h6>
            <h3>@Model.LocationName</h3>
        </div>
        
        <div class="w-100 d-flex justify-content-between">
            <h5>Total Divisions: <span>@Model.TotalDivision</span></h5>
            <h5>Lockers:  <span>500</span></h5>
        </div>
    </div>
    <div class="location-img">
        <img src="~/images/png/location.png" alt="Location Image">
    </div>
</div>
 