@using ICSLockers.Models
@{
    ViewData["Title"] = "User Profile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid main">
    <div class="title-bar">
        <div class="col-lg-6 p-0 d-flex align-items-center">
            <nav aria-label="breadcrumb bg-white">
                <ol class="breadcrumb bg-white p-0 m-0">
                    <li class="breadcrumb-item">
                        <a href="/Admin/Location">
                            <h5>Location</h5>
                        </a>
                    </li>
                    <li class="breadcrumb-item d-flex">
                        <a href="/Admin/Division?locationId=1">
                            <h5>Divisions</h5>
                        </a>
                    </li>
                    <li class="breadcrumb-item d-flex" >
                         <a href="/Admin/LockerUnits?DivisionId=?">
                            <h5>Locker Units</h5>
                        </a>
                        </li>
                    <li class="breadcrumb-item d-flex" aria-current="page">
                            User Profile
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="users-profile">
            <div class="d-flex align-items-center justify-content-between profile-header">
                <div class="d-flex align-items-center">
                    <div class="profile-number">
                        <h1>@Model.Locker.LockerNo</h1>
                    </div>
                    <div class="user-name">
                        <h5>@Model.User.FullName</h5>
                    </div>
                </div>
                <div class="options" id="options">
                    <img src="~/images/png/options.png" alt="" class="options">
                    <div class="menus" id="menus">
                        <ul>
                            <li>
                                <a href="#" data-toggle="modal" data-target="#movelocker" onclick="fnMoveLocker()">Move Locker</a>
                            </li>
                            <li>
                                <a href="#" data-toggle="modal" data-target="#exampleModalCenter" onclick="fnRemoveUser()">
                                    Remove
                                    User
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                @*<button class="btn-outline-danger user-remove-btn" data-toggle="modal"
                        data-target="#exampleModalCenter" onclick="fnRemoveUserPopup()">
                    Remove User
                </button>*@
            </div>
            <div class="profile-body">
                <div class="d-flex justify-content-between">
                    <label for="" class="col-lg-6">User Name</label>
                    <h5 class="col-lg-6">@Model.User.UserName</h5>
                </div>
                <div class="d-flex justify-content-between">
                    <label for="" class="col-lg-6">User Code</label>
                    <h5 class="col-lg-6">@Model.User.PasswordEnc</h5>
                </div>
                <div class="d-flex justify-content-between">
                    <label for="" class="col-lg-6">Locker Location</label>
                    <h5 class="col-lg-6">@Model.LocationName</h5>
                </div>
                <div class="d-flex justify-content-between">
                    <label for="" class="col-lg-6">Locker Division</label>
                    <h5 class="col-lg-6">@Model.Locker.Division.DivisionNo</h5>
                </div>
                <div class="d-flex justify-content-between">
                    <label for="" class="col-lg-6">Locker Number</label>
                    <h5 class="col-lg-6">@Model.Locker.LockerNo</h5>
                </div>
                <div class="d-flex justify-content-between">
                    <label for="" class="col-lg-6">Barcode Number</label>
                    <h5 class="col-lg-6">987654321</h5>
                </div>
                <div class="d-flex justify-content-between">
                    <label for="" class="col-lg-6">Items</label>
                    <div class="col-lg-6">
                        <h5>@Model.Locker.Item1</h5>
                        <h5>@Model.Locker.Item2</h5>
                        <h5>@Model.Locker.Item3</h5>
                        <h5>@Model.Locker.Item4</h5>
                        <h5>@Model.Locker.Item5</h5>
                    </div>
                </div>
            </div>
            <div class="profile-footer">
                <div class="d-flex justify-content-between">
                    <button class="btn add-item" onclick="location.href='@Url.Action("LockerDetails", "Admin")'"><img src="~/images/png/add-item.png"> Add Item</button>
                    <button class="btn remove-item" onclick="location.href='@Url.Action("Guardian", "Admin",new { lockerId=Model.Locker.LockerId } )'" data-value="@Model.Locker.LockerNo"><img src="~/images/png/remove-item.png"> Remove Item</button>
                    <button class="btn lock-locker"><img src="~/images/png/lock-locker.png"> Lock Locker</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade user-remove" id="removeUserModel" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered locker-add-modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center w-100" id="exampleModalLongTitle">
                    Are you sure remove the items
                    and remove user from the locker?
                </h5>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-around">
                    <button class="btn-outline-primary">Yes</button>
                    <button class="btn-outline-danger">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade user-move " id="movelocker" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered locker-add-modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center w-100" id="exampleModalLongTitle">Select the locker location</h5>
            </div>
            <div class="modal-body">
                <div class="d-flex">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="w-100">Location</label>
                            <select style="width: 100%;" id="mySelect2" class="form-control">
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="w-100">Division</label>
                            <select style="width: 100%;" id="mySelect3" class="form-control">
                                <option value="Division-1">Division-1</option>
                                <option value="Division-2">Division-2</option>
                                <option value="Division-3">Division-3</option>
                                <option value="Division-4">Division-4</option>
                                <option value="Division-5">Division-5</option>
                                <option value="Division-6">Division-6</option>
                                <option value="Division-7">Division-7</option>
                                <option value="Division-8">Division-8</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="w-100">Locker</label>
                            <select style="width: 100%;" id="mySelect4" class="form-control">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="AK">6</option>
                                <option value="AL">7</option>
                                <option value="AK">8</option>
                                <option value="AL">9</option>
                                <option value="AK">10</option>
                                <option value="AL">11</option>
                                <option value="AK">12</option>
                            </select>
                        </div>
                    </div>
                </div>
                <p class="text-center inform">* Showing only avalilable lockers only</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary">Move Locker</button>
            </div>
        </div>
    </div>
</div>
     <script src="~/js/Staff.js"></script>